---
import ContactForm from "@components/sections/ContactForm.astro";
import "@styles/shared.css";
---

<div class="container mx-auto px-4 py-20 max-w-4xl">
    <h1 class="section-title mb-16 text-center relative" data-aos="fade-up">
        Get In <span class="highlighted-text">Touch</span>
    </h1>
    <p
        class="text-center text-gray-700 dark:text-gray-300 mb-8"
        data-aos="fade-up"
    >
        If you have any questions or want to discuss a project, feel free to
        reach out! I am always open to new opportunities and collaborations.
    </p>
    <div class="premium-glass-panel animated-border p-8 rounded-xl shadow-glow">
        <ContactForm />
    </div>
</div>
