---
import ContactForm from "@components/sections/ContactForm.astro";
import "@styles/shared.css";
---

<div class="container mx-auto px-4 py-20 max-w-4xl">
    <h1 class="section-title mb-16 text-center relative" data-aos="fade-up">
        Get In <span class="highlighted-text">Touch</span>
    </h1>
    <div class="premium-glass-panel animated-border p-8 rounded-xl shadow-glow">
        <ContactForm />
    </div>
</div>
