---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-44">
			<h1
				class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4"
			>
				Hola, soy Edgar <div class="flex justify-center items-center">
					<Badge>Disponible para trabajar</Badge>
				</div>
			</h1>
			<h2 class="text-xl opacity-80">
				+5 años de experiencia. Desarrollador Fullstack de Nuevo León,
				México 🇲🇽, me especializo en hacer soluciones para automatizar
				procesos y mejorar la eficiencia de las empresas.
			</h2>
		</section>
	</main>
</Layout>
